


<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>新增或更新回覆:</h1>

{{ form_start(form) }}

<table>
  <tbody>
    <tr>
      <th>暱稱:</th>
      <td>{{ form_widget(form.name) }}</td>
    </tr>
    <tr>
      <th>內容:</th>
      <td>{{ form_widget(form.text) }}</td>
    </tr>
    <tr>
      <th></th>
      <td>{{ form_widget(form.save) }}</td>
    </tr>
  </tbody>
</table>

{{ form_end(form) }}